images/
src/hostphot/sfddata-master/
.ipynb*
PS1.jpg
SDSS.jpg
docs/examples/images/
docs/examples/hst_16741_2v_wfc3_uvis_f275w_iepo2v_drc.fits

*__pycache__*
*egg*

dist/
build/
docs/_build/
tests/images/*

.idea/
.vscode/
.env
